aside#menu(hb-drawer): div.aside

  nav#shop(ng-class='{single: shop.own.length == 1}')
    h2(ng-bind='$root.shop.name', data-id='{{$root.shop.id}}', ng-class='{admin: $root.auth.is_peon}')
    div(ng-if='$root.auth.is_peon')
      input(ng-model='shop.keyword', hb-keyup='shop.filter(keyword)', placeholder='샵 이름 검색')
    ul(ng-hide='$root.auth.is_peon && !shop.keyword'): li(ng-repeat='s in shop.list', data-id='{{s.shop_id}}')
      span.shopId(ng-bind='s.shop_id')
      span.shopName(ng-bind='s.shop_name')

  button.toggle Menu

  nav#gnb: ul
    li.dashboard(data-sref='shop.dashboard', ng-hide='unmanaged'): a(ng-class='{new: $root.inbox.length}')
    li.reservation(data-sref='shop.reservation', ng-hide='disuse'): a
    li.employee(data-sref='shop.employee({id: {{$root.shop.employment_id || 0}}})', ng-hide='unmanaged'): a
    //li.customer(data-sref='shop.customer', ng-hide='unmanaged'): a
    li.service(data-sref='shop.service'): a
    li.setting(data-sref='shop.setting'): a

    li.shops(data-sref='shop.shops', ng-show='$root.auth.is_peon'): a
    li.signout: button(ng-click='signout()') 로그아웃