div
  input(type='text', ng-value='viewValue')
  div.calendar(ng-show='opened')
    div.controls
      span.month(ng-bind='month', ng-click='now()')
      span.prev.prevYear(ng-click='prev("year")') 지난 해
      span.prev.prevMonth(ng-click='prev("month")') 지난 달
      span.next.nextYear(ng-click='next("year")') 다음 해
      span.next.nextMonth(ng-click='next("month")') 다음 달
    div.dates
      span(ng-repeat='date in dates', ng-bind='date')
    div.days
      span(ng-repeat='day in days', ng-bind='day.date', ng-click='setDate(day)', ng-class='{disabled: !day.date, today: day.today}')
