section#modal(ng-show='modal.show', ng-click='modal.close()')

  div.box(ng-click='$event.stopPropagation()', ng-hide='modal.isEdit')
    div.status(ng-class='modal.item.status')

    div.buttons(ng-hide='modal.isCompleted()')
      button(ng-click='modal.edit.enter()') 수정

    div.customer
      div.profile(style='background-image: url(/img/user.png)'): img(src='/img/user.png')
      span.name(ng-bind='modal.item.customer_name', ng-class='{single: !modal.item.customer_memo}')
      span.memo(ng-bind='modal.item.customer_memo')

    dl
      dt 상품
      dd
        span.package(ng-bind='modal.item.package_name', ng-if='modal.item.package_name')
        span.service(ng-bind='modal.item.service_name')

      dt 예약시간
      dd(ng-bind='modal.item.service_time')

      dt 담당직원
      dd(ng-bind='modal.item.employee_name')

      dt 요청사항
      dd(ng-bind='modal.item.customer_request')

    div.functions(ng-class='[modal.item.status, {isPast: modal.item.isPast}]')
      button.cancel(ng-click='modal.function.cancel()') 예약취소
      button.confirm(ng-click='modal.function.confirm()') 승인완료
      button.complete(ng-click='modal.function.complete()') 서비스완료
      button.noshow(ng-click='modal.function.noshow()') 노쇼

  div.editBox(hb-block-enter, ng-click='$event.stopPropagation()', ng-if='modal.isEdit')
    div.status.isEdit(ng-class='modal.clone.status')

    div.buttons
      button(ng-click='modal.edit.cancel()') 취소
      button(ng-click='modal.edit.save()', ng-bind='modal.clone.status=="pending"?"승인":"완료"')

    div.editCustomer(ng-if='modal.isNew')
      div.customerName(hb-autocomplete, data-callback='modal.edited.customer', data-options='modal.data.customers', data-label='name')
        input(ng-model='modal.clone.customer_name', placeholder='고객명')
      div.phoneNum
        input(ng-model='modal.clone.phone_num', ng-disabled='modal.clone.customer_id', placeholder='010-0000-0000', hb-format='phone')

    div.customer(ng-if='!modal.isNew')
      span.customerName(ng-bind='modal.clone.customer_name')
      span.phoneNum(ng-bind='modal.clone.phone_num', hb-format='phone')

    dl
      dt 상품
      dd
        select.roundBox(ng-model='modal.value.package', ng-change='modal.edited.package()', ng-disabled='!modal.clone.customer_id')
          option(value='') 패키지 선택
          option(ng-repeat='p in modal.data.packages', ng-bind='p.package_name', value='{{p.id}}')
        select.roundBox(ng-model='modal.value.service', ng-change='modal.edited.service()')
          option(value='') 서비스 선택
          option(ng-repeat='s in modal.data.services', ng-bind='s.service_name || s.name', value='{{s.service_id || s.id}}')

      dt 예약시간
      dd: span.roundBox(ng-bind='modal.clone.service_time || "서비스 시간을 선택해주세요."', ng-click='modal.edit.time()', ng-class='{placeholder: !modal.clone.service_time}')

      dt 담당직원
      dd: select.roundBox(ng-model='modal.value.employee', ng-change='modal.edited.employee()')
        option(value='') 선택안함
        option(ng-repeat='employee in modal.data.employees', ng-bind='employee.employee_name', value='{{employee.id}}')

      dt(ng-if='!modal.isNew') 수정사유
      dd(ng-if='!modal.isNew'): input.roundBox(type='text', ng-model='modal.clone.edited_change_reason', placeholder='수정사유를 입력해주세요.')

      dt(ng-if='modal.isNew') 요청사항
      dd(ng-if='modal.isNew'): input.roundBox(type='text', ng-model='modal.clone.customer_request', placeholder='요청사항을 입력해주세요.')