ul#tabs
  li(ng-class='{active: $parent.state.name.includes(".info")}')
    a(ui-sref='^.info') 기본 정보

  li(ng-class='{active: $parent.state.name.includes(".portfolio")}')
    a(ui-sref='^.portfolio') 포트폴리오

  li(ng-class='{active: $parent.state.name.includes(".post")}', ng-if='$root.auth.is_peon')
    a(ui-sref='^.post') 블로그 후기