div.editTime
  div.header
    div.date(ng-bind='dialog.date')
    button.prev(ng-click='dialog.day.prev()') 이전
    button.next(ng-click='dialog.day.next()') 다음

  div.timeslots
    ul: li(ng-repeat='slot in dialog.timeslots', ng-class='{active: slot.ts == dialog.start_ts}')
      button(ng-bind='slot.timeString', ng-disabled='slot.unavailable', ng-click='dialog.select(slot.ts, $index)')