doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

    script.
      var url, query = location.search.substring(1);
      if ((/^https?:\/\//i).test(query))
        localStorage.setItem('hb.server', query);
      else
        localStorage.removeItem('hb.server');
      location.href = '/';