html, body, p, div, span, blockquote, pre, applet, object, iframe,
header, hgroup, nav, aside, section, article, footer, h1, h2, h3, h4, h5, h6,
menu, ul, ol, li, dl, dt, dd, summary, fieldset, legend, form, label,
table, caption, thead, tbody, tfoot, tr, th, td,
audio, video, canvas, details, embed, figure, figcaption,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, time, mark, output, ruby
  margin 0
  padding 0
  border 0
  vertical-align baseline

html
  font-size 10px

body
  background white
  font-family sans-serif
  font-size 1.4rem
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%

h1, h2, h3, h4, h5, h6
  font-size 1em
  margin 0

ul, ol, dd
  &:not(.default)
    padding-left 0
    list-style none
  li
    list-style-position inside

blockquote, q
  quotes none
  &:before, &:after
    content ''

table
  border-collapse collapse
  border-spacing 0
  border 0
  th
    text-align center
    font-weight bold
  th, td
    padding 0
  caption
    width 0
    height 0
    line-height 0
    font-size 0
    overflow hidden

audio, video, canvas, progress
  display inline-block
  vertical-align baseline

audio:not([controls])
  display none
  height 0

input, textarea, button, select, optgroup, option
  margin 0
  padding 0
  font-size 1em
  font-weight normal
  vertical-align baseline
  -webkit-appearance none
  -moz-appearance none
  background transparent
  border 1px solid grey
  box-sizing border-box

optgroup
  font-weight bold

textarea
  overflow scroll

input
  line-height normal

input[type=checkbox], input[type=radio]
  box-sizing border-box
  padding 0

input[type=checkbox]
  -webkit-appearance checkbox

input[type=radio]
  -webkit-appearance radio

input[type=search]
  -webkit-appearance textfield
  -moz-box-sizing content-box
  -webkit-box-sizing content-box
  box-sizing content-box

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration
  -webkit-appearance none

button, input[type=button], input[type=reset], input[type=submit]
  -webkit-appearance button
  cursor pointer

button
  overflow visible

button[disabled], input[disabled]
  cursor default

button::-moz-focus-inner, input::-moz-focus-inner
  border 0
  padding 0

button, select
  text-transform none
  cursor pointer

a
  text-decoration none
  background transparent

  &:active, &:hover
    outline 0

img, fieldset
  border 0

img
  overflow hidden

hr, legend, .hidden, [hidden]
  margin 0
  padding 0
  height 0
  line-height 0
  border 0
  font-size 0
  overflow hidden

svg:not(:root)
  overflow hidden

abbr[title]
  border-bottom 1px dotted

b, strong
  font-weight bold

i, cite, em, var, address, dfn
  font-style italic

ins
  text-decoration none

del
  text-decoration line-through

mark
  background yellow

dfn
  font-style italic

code, kbd, pre, samp
  font-family monospace, serif
  font-size 1em

pre
  white-space pre-wrap

small
  font-size .8em

sub, sup
  font-size .75em
  line-height 0
  position relative
  vertical-align baseline

sup
  top -.5em

sub
  bottom -.25em

figure
  margin 1em 40px

hr
  -moz-box-sizing content-box
  box-sizing content-box
  height 0

pre
  overflow auto

fieldset
  border 1px solid black
  margin 0 2px
  padding .35em .625em .75em

legend
  border 0
  padding 0