/* common/variables */
font-size-default = 1.4rem
border-radius-default = .35rem

// color
color-white = #FFF
color-black = #222

color-background = color-white
color-background-header = #4C5159
color-background-aside = #F8F9F9
color-background-snow = #FAFAFA
color-background-grey = #EAECF1
color-background-aqua = #4FE0DC
color-background-cyan = #4EE0DC
color-background-black = #626773

color-text-white = #FEFEFE
color-text-smoke-white = #F7F9FA
color-text-light-grey = #B4B8BA
color-text-dark-grey = #979EA5
color-text-slate-grey = #808697
color-text-dimgrey = #565A5C
color-text-black = #2C3133

color-aside-text = #808697
color-aside-active = #4FE0DC
color-aside-hover = #F0F3F3
color-aside-border = #E4E7F0

color-common-aqua-marine = #4EE0DC
color-common-turquoise = #21D5D0
color-common-cyan = #57C5CB
color-common-yellow = #F9D166
color-common-magenta = #DE5775
color-common-skyblue = #94BECC

color-button-red = #FD4566
color-button-green = #57E3DC
color-button-blue = #4A90E2
color-button-grey = #F8F9F9
color-button-disabled = #B4B8BA

color-glow-blue = #51CBEE

color-line-lighten = #F6F6F7
color-line-default = #EAECF1
color-line-darken = #C2C2C3

color-reservation-new = #94BECC
color-reservation-pending = #FF5065
color-reservation-confirmed = #18CAD5
color-reservation-completed = #A6ADB2
color-reservation-canceled = #F5F7F8
color-reservation-noshow = #9EB2C0

color-notify-success = #52C5E2
color-notify-info = #43C283
color-notify-warn = #FFAE0D
color-notify-error = #FF505B