doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

    script.
      var string = JSON.stringify({name: 'dev', url: 'https://dapi.heybeauty.kr'});
      localStorage.setItem('hb.server', string);
      location.href = '/';