doctype html
html(lang='ko', ng-controller='appController')
  head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=1280')

    link(rel='icon', type='image/png', href='/img/icon.png')
    link(rel='apple-touch-icon-precomposed', href='/img/icon.png')

    title(ng-bind='title')

    style.
      @import url(/css/style.css);

  body(hb-keybind, ng-class='{hidemenu: !$root.auth || $root.hidemenu}')
    header#header
      h1(hidden) 헤이뷰티 샵 관리 어플리케이션
      h2(ng-bind='subtitle')

    include ./components/aside.jade

    section#container(ui-view)

    include ./components/modal.jade

    div#dialog(hb-dialog)

    ul#alerts(ng-show='$root.alerts.items.length')
      li(ng-repeat='alert in $root.alerts.items', ng-class='alert.type')
        span(ng-bind='alert.message')

    footer
      div.copyright
        | Copyright HeyBeauty. All rights reserved.<br>
        | Contact to <a href='mailto:contact@heybeauty.kr'>contact@heybeauty.kr</a>
      div.server(ng-show='server.name')
        | Working on {{server.name}} server

    div#screen(hb-screen)
    div#indicator(hb-indicator)

    noscript.
      자바스크립트가 비활성화 되어있거나 지원되지 않는 브라우저 입니다.
      자바스크립트 사용이 어려운 경우 모바일 어플리케이션을 통해 이용하실 수 있습니다.

    script(src='/js/script.js')