section#dashboard

  section.statistics
    div.clock
      span.date(ng-bind='clock.date')
      span.meridiem(ng-bind='clock.meridiem')
      span.hours(ng-bind='clock.hours')
      span.blink :
      span.minutes(ng-bind='clock.minutes')

  section.reservations
    header: h2 예약내역 보관함
    ul(hb-infinite-scroll='getReservations()', hb-infinite-stop='loading', hb-infinite-end='end')
      li.block(ng-repeat='day in reservations | orderBy: "-date"')
        div.date(ng-bind='day.date')
        ul: li.box(ng-repeat='reservation in day.items | orderBy: "-start_ts"', ng-class='reservation.status', ng-click='open(reservation)')
          p.service(ng-bind='reservation.service_name', data-status='{{reservation.status == "canceled" ? "예약취소" : reservation.status == "noshow" ? "노쇼" : ""}}')
          p.time
            span(ng-bind='reservation.start_ts*1000 | date: "M월 d일 EEE H:mm"')
            span ~
            span(ng-bind='reservation.end_ts*1000 | date: "H:mm"')
          p.customer(ng-bind='reservation.customer_name')
          p.createAt(ng-bind='reservation.created_at | fromnow', ng-show='reservation.status == "pending"')

      li.loading(ng-class='{visible: loading || !reservations.length}')
        | 데이터를 가져오고 있습니다...