section#employee

  section.employees
    header
      h2 직원별 근무시간
      span(ng-bind='employments.length')
      button.add(ng-click='edit.new()') 추가
    ul(hb-keep-scroll, scroll-to='.active'): li(ng-repeat='e in employments | orderBy: ["-role", "status", "employee_name"]', ng-class='[e.status, {active: e.id == id}]')
      a(ui-sref='{id: e.id}', ui-sref-opts='{location: "replace"}')
        div.info
          h3(ng-bind='e.employee_name')
          span.phone(ng-bind='e.phone_num | phone')
          span.role(ng-bind='e.role | translate', ng-show='e.role != "employee"')
        ol.schedules
          li(ng-repeat='s in e.schedules')
            div.time
              span(ng-bind='s.start', hb-format='time')
              span ~
              span(ng-bind='s.end', hb-format='time')
            div.days
              span(ng-repeat='(i, week) in weeks', ng-bind='week', ng-if='!$first && s.days[i]')
              span(ng-bind='weeks[0]', ng-if='s.days[0]')
          li(ng-if='!e.schedules.length')
            div.time
              span 미설정
      button.config(ng-click='edit.enter(e.id)'): span 설정

  section.schedule
    header
      h2(ng-bind='employee_name')
      button(ng-show='form.length && !isEdit', ng-click='isEdit = true') 편집
      button(ng-show='isEdit', ng-click='isEdit = false') 완료
    div.table(ng-style='{width: table.width+"px", height:table.height+"px"}')
      svg(width='100%', height='100%', xmlns='http://www.w3.org/2000/svg', version='1.1')
        g.times
          line(ng-repeat='h in hours', ng-attr-x1='{{table.times.width*.9}}', ng-attr-y1='{{table.weeks.height+table.times.height*$index}}', ng-attr-x2='{{table.width}}', ng-attr-y2='{{table.weeks.height+table.times.height*$index}}', ng-show='$first||$last||h==hours[(hours.length-1)/2]')
          text(ng-repeat='h in hours', ng-bind='h + "시"', ng-attr-x='{{table.times.width*.3}}', ng-attr-y='{{table.weeks.height+table.times.height*$index}}', ng-show='$first||$last||h==hours[(hours.length-1)/2]')
          text.weeks(ng-repeat='w in weeks', ng-bind='w', ng-attr-x='{{table.times.width+table.weeks.width*($index+.5)}}', ng-attr-y='{{table.weeks.height/3}}')
        g.serviceTimes
          rect.red(ng-repeat='i in data', ng-attr-x='{{table.times.width+table.weeks.width*(i.day+.3)}}', ng-attr-y='{{table.weeks.height+table.times.height*(i.startIndex-hours[0]) || 0}}', ng-attr-width='{{table.weeks.width/3}}', ng-attr-height='{{table.times.height*(i.endIndex-i.startIndex) || 0}}')

    ul(ng-class='{blur: timePicker.target}')
      li(ng-repeat='s in form')
        div.days
          label(ng-repeat='(i, week) in weeks')
            input(type='checkbox', ng-model='s.days[i]')
            span(ng-bind='week')
        div.time
          div.start
            span 시작 시간
            button(ng-bind='s.start', hb-format='time', ng-click='timePicker.edit($index, "start")')
          div.end(ng-class='{impossible: s.start >= s.end}')
            span 종료 시간
            button(ng-bind='s.end', hb-format='time', ng-click='timePicker.edit($index, "end")')
        button.remove(ng-click='remove($index)', ng-hide='!isEdit'): span 지우기
      li.add(ng-hide='isEdit'): button(ng-click='add()') 추가

    div.save(ng-hide='timePicker.target')
      button(ng-click='save()') 저장

    section.timePicker(ng-show='timePicker.target', ng-click='timePicker.target = null'): div.wrap(ng-click='$event.stopPropagation()')
      h3(ng-bind='timePicker.target == "start" ? "시작 시간" : "종료 시간"')
      div
        div.string(ng-bind='timePicker.string')
        input(type='range', min='0', max='48', ng-model='timePicker.index')
        div.labels: span(ng-repeat='hour in timePicker.hours', ng-bind='hour+"시"', ng-click='timePicker.pick(hour)')
      button.submit(ng-click='timePicker.confirm()') 완료

  section.detail(ng-show='edit.isEdit', ng-click='edit.exit()')
    div.wrapper(ng-click='$event.stopPropagation()')
      div.info
        label.name 이름
          input(type='text', ng-model='edit.item.employee_name', placeholder='이름')
        label.role 권한
          select(ng-model='edit.item.role')
            option(value='owner') 대표
            option(value='manager') 매니저
            option(value='employee') 직원
        label.status 상태
          select(ng-model='edit.item.status')
            option(value='waiting', ng-show='edit.item.status == "waiting"') 대기
            option(value='hired') 고용
            option(value='quit', ng-hide='edit.isNew') 퇴사

      div.phoneNum
        label.title(for='phoneNum') 연락처
        input(id='phoneNum', ng-model='edit.item.phone_num', hb-format='phone', ng-disabled='!edit.isNew')

      div.config
        label
          input(type='checkbox', ng-model='edit.item.accept_reservation')
          span 예약 가능
        label
          input(type='checkbox', ng-model='edit.item.recieve_push')
          span 푸시 활성화

      div.buttons
        button.save(ng-click='edit.save()') 저장
        button.close(ng-click='edit.exit()') 취소