section#error
  h1 앗!
  
  h2(ng-if='type == "not-found"') 길을 잃었어요!!!
  button(ng-if='type == "not-found"', ng-click='back()') 돌아가기

  h2(ng-if='type == "api-error"') 서버가 응답하지 않습니다 ;(
  button(ng-if='type == "api-error"', ng-click='reload()') 다시시도