section#reservation
  div.wrapper(ng-style='{width: wrapper.width, height: wrapper.height}')

    div.datePicker(ng-hide='personal')
      input(type='text', ng-model='datePicker.string', hb-date-picker='YYYYMMDD', hb-date-picker-open='datePicker.opened')
      span.button(ng-bind='datePicker.today', ng-click='datePicker.open()')
      button.small.prev(ng-click='setDate.prev()') 이전
      button.small.next(ng-click='setDate.next()') 다음

    div.setDate(ng-show='personal')
      h3.employee(ng-bind='employment.employee_name', ng-hide='employments.length == 1')
      span.month(ng-bind='weeks.thisMonth')
      button.prev(ng-click='setDate.prev()') 지난주
      button.today(ng-click='setDate.today()') 오늘
      button.next(ng-click='setDate.next()') 다음주

    div.functions(ng-class='[functions.type, {show: functions.show}]', ng-style='functions.position')
      div.datetime
        span.date(ng-bind='functions.selected.date')
        span.time
          span(ng-bind='functions.selected.start_ts*1000 | date: "HH:mm"')
          | ~
          span(ng-bind='functions.selected.end_ts*1000 | date: "HH:mm"')
      div.buttons
        button.new(ng-click='functions.create()'): span 예약 추가
        button.block(ng-click='functions.block()'): span 시간 잠그기
        button.unlock(ng-click='functions.unlock()'): span 시간 열기

    section
      svg(hb-grid, hb-grid-draw, width='100%', height='100%', xmlns='http://www.w3.org/2000/svg', version='1.1')
        g.reservation
          g.closed
          g.line
            line(ng-repeat='x in xPos', ng-attr-x1='{{x}}', ng-attr-y1='{{weeks.height}}', ng-attr-x2='{{x}}', ng-attr-y2='{{weeks.height+times.height*48}}', ng-show='$middle')
            line.oclock(ng-repeat='h in times.hour', ng-attr-x1='{{times.width}}', ng-attr-y1='{{weeks.height+times.height*($index*2)}}', ng-attr-x2='{{scrollWidth}}', ng-attr-y2='{{weeks.height+times.height*($index*2)}}', ng-show='$middle')
          rect.highlight.hidden(ng-attr-width='{{xWidth}}', ng-attr-height='{{times.height}}', ng-class='{isEdit: schedule.isEdit}')
          g.blocks
          g.items

        g.times
          rect.background(x='0', y='0', ng-attr-width='{{times.width}}', ng-attr-height='{{weeks.height+times.height*48}}')
          rect.highlight.hidden(x='0', ng-attr-width='{{times.width}}', ng-attr-height='{{times.height}}')
          g.text: text.hour(ng-repeat='h in times.hour', ng-bind='h', ng-attr-x='{{times.width*.8}}', ng-attr-y='{{weeks.height+times.height*($index*2)}}', text-anchor='end', alignment-baseline='central', ng-show='$middle')
          g.now(ng-show='weeks.isThisWeek')
            line.line(ng-attr-x1='{{times.width}}', ng-attr-x2='{{scrollWidth}}')
            circle.marker(ng-attr-cx='{{times.width}}', r='3')

        g.columns(hb-grid-x-scroll)
          rect.background(x='0', y='0', ng-attr-width='{{scrollWidth}}', ng-attr-height='{{weeks.height}}')
          rect.highlight.hidden(y='0', ng-attr-width='{{xWidth}}', ng-attr-height='{{weeks.height}}')
          g.employees(ng-hide='personal')
            text.employee_name(ng-repeat-start='e in employments', ng-bind='e.employee_name', ng-attr-x='{{xCenter[$index]}}', y='25', text-anchor='middle', alignment-baseline='central')
            rect.button(ng-repeat-end, ng-attr-x='{{xPos[$index]}}', y='0', ng-attr-width='{{xWidth}}', ng-attr-height='{{weeks.height}}', data-click='setEmployee({{e.id}})')
          g.weekly(ng-show='personal')
            rect.today(ng-if='weeks.isThisWeek', ng-attr-x='{{xCenter[weeks.weekday]-17}}', y='21', width='34', height='26', rx='13')
            text.name(ng-repeat-start='x in xCenter', ng-bind='weeks.name[$index]', ng-attr-x='{{x}}', y='13', text-anchor='middle', alignment-baseline='central', ng-class='weeks.name[$index]')
            text.date(ng-repeat-end, ng-bind='weeks.date[$index]', ng-attr-x='{{x}}', y='34', text-anchor='middle', alignment-baseline='central', ng-class='[weeks.name[$index], {today: weeks.isThisWeek && $index==weeks.weekday}]')

        g.cover
          rect.back(x='0', y='0', ng-attr-width='{{times.width}}', ng-attr-height='{{weeks.height}}')
          line.bold(x1='0', ng-attr-y1='{{weeks.height}}', ng-attr-x2='{{scrollWidth}}', ng-attr-y2='{{weeks.height}}')

      button.back(ng-click='setEmployee()', ng-style='{width: times.width, height: weeks.height}', ng-class='{disabled: !personal}', ng-hide='employments.length == 1')
        span(ng-bind='employments.length - 1')