section#service
  div.action
    button.add(ng-click='edit.new()') 추가

  h2(ng-repeat-start='group in service_categories', ng-bind='group.name', ng-hide='$last && !services[group.id].length')
  table(ng-repeat-end, ng-hide='$last && !services[group.id].length')
    thead
      tr
        th
        th 이름
        th 시간
        th 판매가격
        th 할인금액
        th 이벤트 기간

    tbody(hb-sortable='updateOrder(ids)')
      tr(ng-repeat='s in services[group.id] | orderBy: "sort_order"', ng-class='{notSale: !s.for_sale}', ng-style='{order: $index}', data-id='{{s.id}}')
        th(ng-bind='$index + 1', hb-sortable-pointer)
        td(ng-class='{event: s.is_event}'): a(ng-bind='s.service_name', ng-click='edit.enter(s.id)')
        td(ng-bind='s.duration')
        td(ng-class='{discount: (s.discount_amount || s.discount_rate)}')
          span(ng-bind='s.original_price | number')
          span(ng-bind='s.price | number')
        td(ng-bind='(s.discount_type === "rate") ? s.discount_rate : s.discount_amount | number', ng-class='[s.discount_type, {discount: (s.discount_amount || s.discount_rate)}]')
        td
          span(ng-bind='s.event_start')
          span(ng-hide='!s.event_start && !s.event_end') ~
          span(ng-bind='s.event_end')
      tr.placeholder(ng-if='!services[group.id].length')
        td 등록된 서비스 없음
        td

  section.detail(ng-show='edit.isEdit', ng-click='edit.exit()')
    div.wrapper(ng-click='$event.stopPropagation()')

      div.category: label
        span(ng-bind='edit.item.category_name')
        select(ng-model='edit.item.category_id', ng-options='c.id as c.name for c in service_categories', ng-change='edit.updateName()')

      div.info
        label.name 이름
          input(type='text', ng-model='edit.item.service_name', placeholder='서비스 이름')
        label.duration 시간
          input(type='text', ng-model='edit.item.duration')
        label.price 가격
          input(type='text', ng-model='edit.item.original_price', hb-format='number')

      div.description
        label.title 서비스 설명
        textarea(ng-model='edit.item.description', ng-focus='edit.textarea = true', ng-blur='edit.textarea = false')

      div.header
        h3 할인 이벤트

      div.box.discount
        div.price
          label.title(for='discount') 할인
          input(type='text', id='discount', ng-model='edit.item.discount_price', hb-format='number', ng-blur='edit.updateDiscount()')
          input(type='radio', id='rate', ng-model='edit.item.discount_type', value='rate')
          label(for='rate') %
          input(type='radio', id='amount', ng-model='edit.item.discount_type', value='amount')
          label(for='amount') 원
        div.period
          label.title 이벤트 기간 (시작,종료)
          input(type='text', ng-model='edit.item.event_start', ng-disabled='edit.item.discount_price < 1', placeholder='YYYY/MM/DD', hb-format='date')
          span.dash &mdash;
          input(type='text', ng-model='edit.item.event_end', ng-disabled='edit.item.discount_price < 1', placeholder='YYYY/MM/DD', hb-format='date')

      div.buttons
        input(type='checkbox', id='exposure', ng-model='edit.item.for_sale')
        label(for='exposure') 메뉴 보이기
        button.delete(ng-click='edit.delete()', ng-hide='edit.isNew') 삭제하기
        button.save(ng-click='edit.save()') 저장
        button.close(ng-click='edit.exit()') 취소
