section#portfolio.sns
  div.action
    button.request(ng-click='request()') 승인요청
    button.confirm(ng-click='publish()', ng-show='$root.auth.is_peon') 발행하기

  include ../components/setting.tabs.jade

  div.wrapper
    section.primary
      div.title
        h3 샵 배경 이미지
        form.upload(hb-image-base64='960,720', callback='uploadImage(data, true)'): input(type='file', accept='image/*')
      ul.images(hb-sortable='updateOrder(ids)')
        li(ng-repeat='s in shop_images| orderBy: "priority"', ng-style='{order: $index}', data-id='{{s.id}}', hb-background-image='{{s.image_url_thumb || s.image_url}}', ng-click='edit.shop_image(s.id)')
      p.empty(ng-show='!shop_images.length') 등록된 배경 이미지가 없습니다.

      div.title
        h3 포트폴리오
        form.upload(hb-image-base64, callback='uploadImage(data, false)'): input(type='file', accept='image/*')
      ul.images(hb-sortable='updateOrder(ids)')
        li(ng-repeat='p in portfolios| orderBy: "priority"', ng-style='{order: $index}', data-id='{{p.id}}', hb-background-image='{{p.image_url_thumb || p.image_url}}', ng-click='edit.portfolio(p.id)')
      p.empty(ng-show='!portfolios.length') 등록된 포트폴리오가 없습니다.

    section.secondary
      div.title
        h3 SNS 포스트
        div.buttons(ng-if='$root.auth.is_peon'): button(ng-click='scrap()') 가져오기
      ul.list: li(ng-repeat='post in posts', ng-class='{hide: !post.use}')
        p.title: a(ng-href='{{post.url}}', ng-bind='post.title', target='_blank')
        div.images(ng-show='post.images.length', ng-hide='!post.use')
          div.image(ng-repeat='image in post.images', hb-background-image='{{image.hb_thumb}}', ng-if='!image.hb', ng-click='edit.new(post.id, $index)')
        span.source(ng-bind='post.source')
        span.published(ng-bind='post.published_at | date: "yyyy.MM.dd."')
        div.buttons
          button(ng-click='updatePost(post.id, false)', ng-show='post.use') 숨기기
          button(ng-click='updatePost(post.id, true)', ng-show='!post.use') 보이기
      p.empty(ng-show='!posts.length')
        | SNS 포스트를 찾을 수 없습니다.
        | 기본정보 설정에서 SNS 정보를 입력해주세요.

    div.edit(ng-show='edit.isEdit', ng-click='edit.exit()')
      section(ng-click='$event.stopPropagation()')
        div.area(hb-rerender='edit.item.image_url')
          div.image(hb-background-image='{{edit.item.image_url}}')
          div.buttons(ng-hide='edit.isNew')
            button.left(ng-click='edit.prev()'): span 이전
            button.right(ng-click='edit.next()'): span 다음
        div.info
          label.block
            | 타이틀
            input(ng-model='edit.item.title')
          div.service
            | 연관 서비스
            select(ng-model='edit.item.service_id', ng-options='s.id as s.service_name group by s.category_name for s in edit.services | orderBy: ["category_priority", "sort_order"]')
              option(value='') 서비스 선택
          label.block
            | 태그
            textarea(ng-model='edit.item.hashtag_list')
          a.post(ng-show='edit.item.post', ng-href='{{edit.item.post.url}}', target='_blank')
            span.title(ng-bind='edit.item.post.title')
            span.source(ng-bind='edit.item.post.source')
            span.published(ng-bind='edit.item.post.published_at | date: "yyyy.MM.dd."')
          label.checkbox
            input(type='checkbox', ng-model='edit.item.shop_image')
            span 샵 배경 이미지
          div.buttons
            button.delete(ng-click='edit.delete()', ng-hide='edit.isNew') 삭제
            button.save(ng-click='edit.create()', ng-show='edit.isNew') 추가
            button.save(ng-click='edit.save()', ng-show='!edit.isNew') 저장
