section#setting
  div.action
    button.confirm(ng-click='submit()') 저장

  include ../components/setting.tabs.jade

  form: dl
    dt
      h2 샵 기본 정보
      p
        | 헤이뷰티 고객용 어플리케이션 내에서
        | 표시되는 정보입니다.
      p
        | 정확한 예약을 위해서 항상 최신 정보로
        | 업데이트 해주세요.

    dd
      label.bundle(ng-class="{'two-thirds': !$root.auth.is_peon}", ng-click='!$root.auth.is_peon && notify("이름을 변경하시려면 헤이뷰티 대표번호로 연락해주세요.")')
        span 샵 이름
        input.roundBox(type='text', ng-model='form.name', disabled)

      label.bundle.two-thirds(ng-if='$root.auth.is_peon')
        span 영문 이름
        input.roundBox(type='text', ng-model='form.en_name')

      label.bundle.one-thirds
        span 지역
        select.roundBox(ng-model='form.region_id', ng-options='r.id as r.name for r in regions | orderBy:"priority"')

      label.bundle.two-thirds
        span 영업시간
        input.roundBox(type='text', ng-model='form.business_hours')

      label.bundle.one-thirds
        span 전화번호
        input.roundBox(type='tel', ng-model='form.phone_num', hb-format='phone')

      label.bundle
        span 주소
        input.roundBox(type='text', ng-model='form.address', hb-addr2coord, focus='resetAddress()', blur='insertAddress(obj)')
        input.roundBox(type='text', ng-model='form.address2', placeholder='상세주소')

      div.bundle.category
        span 서비스 업종
        hb-select-box.input(hb-select-model='form.category_id_list', hb-select-items='categories', hb-select-key='id', hb-select-label='name', hb-select-order='priority')

    hr

    dt
      h2 추가정보
      p
        | 샵에서 운영하시는 SNS 정보를 입력하시면
        | 포트폴리오를 편하게 관리하실 수 있습니다.

    dd
      label.bundle.one-thirds
        span 네이버 블로그
        input.roundBox(type='text', ng-model='form.naver_blog', hb-validator='{{regex.naver_blog}}', hb-auto-indent='.prefix')
        span.prefix blog.naver.com/
      label.bundle.one-thirds
        span 인스타그램
        input.roundBox(type='text', ng-model='form.instagram', hb-validator='{{regex.instagram}}', hb-auto-indent='.prefix')
        span.prefix @
      label.bundle.one-thirds
        span 페이스북
        input.roundBox(type='text', ng-model='form.facebook', hb-validator='{{regex.facebook}}', hb-auto-indent='.prefix')
        span.prefix facebook.com/
      label.bundle.two-thirds
        span 홈페이지
        input.roundBox(type='text', ng-model='form.homepage', hb-validator='{{regex.homepage}}', hb-auto-indent='.prefix')
        span.prefix http://

    hr

    dt
      h2 편의 정보

    dd
      label.bundle.subway
        span 가까운 지하철역
        div(hb-autocomplete='required', data-callback='editStation', data-options='stations', data-label='name')
          input.roundBox(ng-model='form.subway_station')
      div.bundle
        span 이용정보

        label
          input.checkbox(type='checkbox', ng-model='form.parking')
          span 주차 가능
        //label
        //  input.checkbox(type='checkbox', ng-model='form.wifi')
        //  span 무선인터넷
        //label
        //  input.checkbox(type='checkbox', ng-model='form.required')
        //  span 예약 필수

    hr

    dt
      h2 기타

    dd
      div.bundle
        label
          input.checkbox(type='checkbox', ng-model='form.has_balance')
          span 회원 예치금 사용

        label
          input.checkbox(type='checkbox', ng-model='form.is_allowed_to_select_employee')
          span 예약시 직원 선택 가능