section#portfolio.post
  include ../components/setting.tabs.jade

  div.wrapper
    section.primary
      div.title
        h3 블로그 후기 리스트
        div.buttons
          button(ng-class='{active: use}', ng-click='setState(true)') 사용
          button(ng-class='{active: !use}', ng-click='setState(false)') 사용안함

      ul.posts
        li(ng-repeat='item in data')
          div(hb-rerender='item.main_image_url'): div.thumbnail(hb-background-image='{{item.main_image_url}}')
          p.title: a(ng-href='{{item.url}}', ng-bind='item.title', target='_blank')
          p.summary(ng-bind='item.summary')
          div.info
            span.published(ng-bind='item.published_at | date: "yyyy.MM.dd."')
            span.author: a(ng-href='{{item.username}}', ng-bind='item.author', target='_blank')
            button.delete(ng-click='togglePost(item.id)', ng-bind='use ? "사용안함" : "사용"')
          div.images: div.image(ng-repeat='image in item.images', hb-background-image='{{image.hb_thumb}}', ng-click='updatePost(item.id, $index)')

    section.secondary
      form.search(ng-submit='searchPosts(true)')
        input(type='text', ng-model='keyword', placeholder='검색어를 입력해주세요')
        button(type='submit') 검색

      ul.list
        li(ng-repeat='item in result')
          p.title: a(ng-href='{{item.url}}', ng-bind-html='item.title | trust', target='_blank')
          p.summary(ng-bind-html='item.summary | trust')
          div.images(ng-show='item.images.length')
            div.image(ng-repeat='image in item.images', hb-background-image='{{image.hb_thumb}}', ng-click='createPost(item.id, true, $index)')
          p.author: a(ng-href='{{item.username}}', ng-bind='item.author', target='_blank')
          p.published(ng-bind='item.published_at | date: "yyyy.MM.dd."')
          div.buttons
            button(ng-click='createPost(item.id, false)') 사용안함
            button(ng-click='addBlacklist(item.id, item.username)') 블랙리스트

        button.more(ng-click='searchPosts()', ng-hide='done && !result.length', ng-class='{disabled: done}') 더보기