section#shops
  div.action
    a(ui-sref='account.signup') 추가

  ul#tabs
    li(ng-class='{active: manage}')
      a(ui-sref='shop.shops({manage: "manage"})') 헤이뷰티 샵

    li(ng-class='{active: !manage}')
      a(ui-sref='shop.shops({manage: "unmanaged"})') 미관리 샵

  section
    div.box(ng-repeat='consonant in consonants', ng-if='list[$index].length')
      h3(ng-bind='consonant')
      ul(ng-if='list[$index].length'): li(ng-repeat='shop in list[$index]', ng-class='{4: "closed", 5: "wait", 7: "open", 1: "unmanaged"}[shop.shop_status]')
        a(ng-click='switch(shop.shop_id)', ng-bind='shop.shop_name')
        sub(ng-bind='shop.shop_id')
