@require 'requires'

.wrap
  margin 0 auto
  max-width 1000px

#signin
  padding-top 36vh
  padding-left 14vw
  padding-right @padding-left
  padding-bottom 10vh
  min-height 100vh
  text-align center
  box-sizing border-box
  position relative
  &::before
  &::after
    content ''
    width @padding-right
    height 100%
    background-image url(/img/patt.png)
    background-position center top
    position absolute
    top 0
  &::before
    left 0
  &::after
    right 0

  h2
    margin 0 auto
    width 22%
    height 0
    padding-bottom @width * .2
    margin-bottom 3em
    position relative
    img
      width 100%

  form
    margin .3rem auto
    width 35%
    position relative

    input
      flat()
      padding .5em
      width 100%
      height 2.6em
      line-height (@height - @padding * 2)
      border-bottom 1px solid color-line-default
      color color-text-dimgrey
      font-size 1.8rem
      text-indent account-form-text-indent
      box-sizing border-box
      placeholder color-text-slate-grey

      &:focus
        border-color color-common-skyblue

    // submit button
    button
      flat()
      width 10rem
      height 3.4rem
      border-radius .9rem
      background account-submit-button-green
      color color-text-white
      font-weight bold
      transition background .15s ease
      position-align-middle()
      right .5em
      &:focus
        border 1px solid color-glow-blue
        box-shadow 0 0 .2rem color-glow-blue
      &[disabled]
        background account-submit-button-grey
        color color-text-dark-grey

  .signup
    margin 3rem auto
    color color-text-dark-grey
    font-size 1.5rem
    display inline-block
    &:hover
      color color-text-dimgrey

#signup
  padding-top 10rem
  padding-bottom 10rem
  text-align center
  box-sizing border-box
  position relative

  h2
    margin 0 auto 7rem
    width 22%
    position relative
    img
      width 100%

  form
    margin 0 auto
    width 70%

    label
      margin-bottom .4rem
      width 100%
      height 4rem
      font-size 1.8rem
      text-align left
      position relative
      display block
      &>span
        margin-right .6rem
        width 20%
        height @height
        line-height @height
        color color-text-dark-grey
        font-size 1.6rem
        text-align right
        display inline-block
        vertical-align middle
      input, &>select
        flat()
        padding account-form-input-padding
        width 70%
        height @height
        line-height (@height - @padding * 2)
        border-bottom 1px solid color-line-default
        color color-text-dimgrey
        placeholder color-text-slate-grey
        font-size 1.5rem
        text-indent account-form-text-indent
        box-sizing border-box
        display inline-block
        vertical-align middle
        &:focus
          border-color color-common-skyblue

  .buttons
    margin-top 5rem
    button
      flat()
      padding 1rem
      color color-text-dark-grey
      font-size 1.6rem
      display inline-block
      &:hover
        color color-text-dimgrey