@require 'requires'

dashboard-margin = 2rem
reservation-box-padding = 1.8rem 1.5rem 2rem 3.8rem

#dashboard
  min-width 120rem
  height 100%
  display flex

  .statistics
    flex-grow 1
    border-right 1px solid color-line-default
    line-height 1
    overflow hidden
    display inline-block
    flex-wrap wrap

  .clock
    margin dashboard-margin
    padding 4.5rem 1rem 2rem
    border-bottom 1px solid color-line-default
    font-weight bold
    font-size 5.4rem
    color color-text-dimgrey
    text-align right
    position relative
    user-select none
    display block
    .date
      padding-right .2rem
      font-size 1.8rem
      position absolute
      right @padding[1]
      top (@padding[0] / 2)
    .meridiem
      margin-right 1rem
      font-size .5em
      vertical-align baseline
    .meridiem ~ span
      font-family Helvetica
    .blink
      margin 0 .1rem
      font-size .92em
      font-weight normal
      vertical-align top
      animation blink 1s steps(2, start) infinite

  .reservations
    width 30%
    min-width 35rem
    max-width 45rem
    background color-background-snow
    overflow hidden
    position relative
    display inline-flex
    flex-flow column

    header
      padding 0 2rem
      height tabs-height
      line-height @height
      border-bottom 1px solid color-line-default
      background color-background-snow
      color color-text-dimgrey
      font-size 1.6rem
      user-select none

    & > ul
      width 100%
      flex-grow 1
      overflow scroll
      overflow-x hidden

      & > li
        margin-bottom 1rem
        border-top 1px solid color-line-lighten
        border-bottom 1px solid color-line-default
        background color-background
        &:first-child
          border-top none

      .date
        height 4rem
        line-height 4rem
        color color-text-dark-grey
        text-indent 1.5rem

      .box
        padding reservation-box-padding
        font-size 1.3rem
        color color-text-dimgrey
        position relative
        cursor pointer

        // layout
        .service
          margin-bottom 1rem
          max-width 28rem
          font-weight bold
          font-size 1.6rem
          line-height 1.2
          ellipsis()
        .service::after
          content attr(data-status)
          margin-left 1rem
          font-size 1.2rem
          font-weight normal
          display inline-block
        .time, .customer
          display inline-block
          vertical-align bottom
          &::before
            margin-right .3rem
            color color-text-light-grey
            font-size 1.1rem
            vertical-align top
        .time
          margin-right .6rem
          min-width 17rem
        .time::before
          icon inbox-date
        .time span
          margin-right .3rem
        .customer
          max-width 11rem
          ellipsis()
        .customer::before
          icon inbox-user
        .createAt
          font-size 1.2rem
          color color-text-dark-grey
          position absolute
          top @padding[0]
          right @padding[1]

        // canceled & noshow
        &.canceled, &.noshow
          .service, .time, .customer
            color color-text-light-grey
        &.canceled
          background color-background-snow
          .service
            text-decoration line-through

        // circle
        &::before
          content ''
          width 1rem
          height @width
          border-radius half()
          background color-background-black
          position absolute
          left reservation-box-padding[1]
          top reservation-box-padding[0] * 1.15
        &.pending::before
          background color-reservation-pending
        &.confirmed::before
          background color-reservation-confirmed
        &.completed::before
          background color-reservation-completed
        &.canceled::before
        &.noshow::before
          content none

      .box::after
        content ''
        width auto
        height 0
        border-bottom 1px solid color-line-lighten
        position absolute
        left reservation-box-padding[3]
        right 0
        top 0
      .box:first-child::after
        content none

      .loading
        margin-top 2rem
        padding-bottom 2rem
        height 2rem
        line-height @height
        border none
        background transparent
        color color-text-dark-grey
        text-align center
        font-size 1.3rem
        font-weight bold
        visibility hidden
        &.visible
          visibility visible