@require 'requires'

#dialog
  block-element()
  position fixed
  top 0
  left 0
  z-index z-index-dialog

  .box
    border-radius()
    background color-background
    box-shadow 0 0 3rem .5rem rgba(black, .1)
    box-sizing border-box
    user-select none
    position-align-both()
    transition box-shadow .4s
    &.flicker
      box-shadow 0 0 3.5rem .5rem rgba(color-common-cyan, .35)

  .head
    padding 1.3em 1em
    font-size 1.5rem
    color color-text-dimgrey
    ellipsis()
    &.message
      padding 1.8em 1.5em
      font-size 1.6rem
      line-height 1.5em
      white-space pre-line
      b
        font-weight normal
        text-shadow 0 0 @color

  .buttons
    font-size 1.5rem
    position absolute
    bottom .9em
    right 1em
    button
      flat()
      margin 0 1em
      color color-common-cyan
      &:hover
        text-shadow 0 0 .35em rgba(black, .1)

  .options
    padding 0 1.6em
    width 100%
    line-height 2em
    box-sizing border-box
    position-align-middle()
    top 55%
    left 0
    input
      display none
    label
      padding-left 1.6em
      position relative
      display block
      outer-size = 1em
      inner-size = .42em
      &::before, &::after
        content ''
        width outer-size
        height @width
        border-radius 50%
        border 1px solid color-line-default
        box-shadow inset 0 0 1px color-line-default
        box-sizing border-box
        display inline-block
        position-align-middle()
        left 0
      &::after
        width inner-size
        height @width
        background color-common-cyan
        box-shadow none
        border 0
        left ((outer-size - inner-size) / 2)
        display none
    input:checked + label::after
      display block

  .editTime
    padding 1em 2em

    .header
      margin-bottom .5em
      padding 1em 0
      font-size 1.6rem
      color color-text-dimgrey
      text-align center
      position relative
      button
        flat()
        color color-text-dark-grey
        position-align-middle()
        &.prev
          left .5em
        &.next
          right .5em

    .timeslots
      padding-bottom 2.4rem
      font-size 0
      li
        margin 1.5% 0
        width 20%
        height 2em
        font-size default
        display inline-block
        button
          flat()
          margin auto
          width 88%
          height @height
          line-height 1em
          border-radius (@height / 2)
          border 1px solid color-text-slate-grey
          color color-text-slate-grey
          box-sizing border-box
          display block
          &[disabled]
            border 0
            color color-text-light-grey
        &.active button
          border 0
          background color-common-cyan
          color color-text-white