@require 'requires'

schedule-width = 42rem

track()
  height 1px
  background color-text-dark-grey

thumb()
  flat()
  width 1px
  height @height
  background color-button-blue
  transform translateY(-50%)
  cursor pointer

#employee
  width 100%
  height 100%
  overflow hidden
  display flex

  header
    padding 0 2rem
    height tabs-height
    line-height @height
    border-bottom 1px solid color-line-default
    background color-background-snow
    color color-text-dimgrey
    font-size 1.6rem
    user-select none
    h2
      display inline
    span
      margin-left 1em
      &::before
        content '총'
        margin-right .4rem
      &::after
        content '명'
    button
      flat()
      height @height
      font-size 1.5rem
      color color-button-blue
      float right

  .employees
    width 100%
    height 100%
    border-right 1px solid color-line-default
    display inline-flex
    flex-flow column
    box-sizing border-box

    ul
      padding 2.2rem
      padding-bottom 11rem
      width 100%
      height 100%
      box-sizing border-box
      overflow scroll
      overflow-x hidden
      scrollbar none
      & > li
        margin-bottom @padding
        padding 2rem
        padding-bottom 1rem
        border-radius()
        border 1px solid color-line-default
        font-size 1.5rem
        position relative
        &.active
          border-color color-common-aqua-marine
          box-shadow inset 0 0 0 1px @border[2]
        &.waiting
          border-style dashed
        a
          color color-text-dimgrey
          display block
        &.waiting a
          color color-text-dark-grey
        .info
          margin-bottom 1.5rem
          h3
            margin-right 1rem
            font-size 2rem
            display inline-block
          span
            font-size 1.5rem
            color color-text-dark-grey
            vertical-align middle
            &.role::before
              margin 0 .5rem
              content '|'
              color color-text-light-grey
        ol li
          height 3.4rem
          line-height @height
          font-size 1.5rem
          div
            display inline-block
            &.time span
              &:nth-child(2)
                margin 0 .4rem
            &.days
              color color-button-red
              float right
              span:not(:last-child):after
                margin .1rem
                content '/'

        &.waiting::after
          content '고용 대기중'
          color color-text-dark-grey
          font-size 1.2rem
          position absolute
          right 4.5rem
          top 1.2rem

        button.config
          flat()
          width 3.4rem
          height @width
          line-height @height
          border-left 1px solid color-line-lighten
          border-bottom @border-left
          border-bottom-left-radius .8rem
          background color-background-snow
          font-size 0
          position absolute
          right 1px
          top 1px
          cursor pointer
          span::before
            icon config
            font-size 1.5rem
            color color-text-light-grey
          &:hover span::before
            color color-text-slate-grey

  .schedule
    width schedule-width
    height 100%
    background color-background-snow
    display inline-flex
    flex-flow column
    user-select none
    position relative

    .table
      padding 3rem 2rem
      background color-background
      border-bottom 1px solid color-line-default
      svg
        width 100%
        height 100%
        line
          stroke color-line-lighten
          stroke-width 1
        text
          fill color-text-dark-grey
          font-family Helvetica
          dominant-baseline middle
          text-anchor middle
        .times
          text
            font-size 1.2rem
          text.weeks
            font-size 1.4rem
            fill color-text-dimgrey
        .serviceTimes
          rect.grey
            fill color-text-smoke-white
          rect.red
            fill color-common-magenta

    ul
      padding 2rem
      padding-bottom 8rem
      overflow scroll
      overflow-x hidden
      scrollbar none
      flex-grow 1
      transition all .2s ease
      &.blur
        filter blur(4px)
      li
        margin 1rem
        border-radius()
        border 1px solid color-line-default
        background color-background
        position relative
        .days
          margin 0 1.5rem
          height 6.8rem
          line-height @height
          border-bottom 1px solid color-line-default
          display flex
          flex-wrap nowrap
          justify-content space-around
          label
            input
              display none
            span
              width 3.2rem
              height @width
              line-height @height
              border-radius()
              text-align center
              font-size 1.5rem
              font-weight bold
              color color-text-dark-grey
              vertical-align middle
              display inline-block
              cursor pointer
            input:checked + span
              background color-button-green
              color color-text-white
        .time
          position relative
          font-size 0
          &::before
            icon angle-right
            font-size 1.8rem
            color color-text-dark-grey
            position-align-both()
          div
            margin 2rem 0
            padding 0 10%
            width 48%
            font-size 2rem
            line-height 1.5em
            box-sizing border-box
            display inline-block
            &.end
              float right
            span
              display block
              font-size 1.3rem
              color color-text-dimgrey
            button
              flat()
              font-family Helvetica
              color color-text-dimgrey
            &.impossible button
              color color-text-light-grey

        button.remove
          flat()
          width 2.4rem
          height @width
          border-radius 50%
          background color-button-red
          font-size 0
          position absolute
          right -1rem
          top -1rem
          span::before
            icon delete
            font-size 1.6rem
            color color-text-white

        &.add button
          flat()
          width 100%
          height 5rem
          font-size 0
          &::before
            icon add
            font-size 1.8rem
            color color-text-light-grey

    .save
      width 100%
      height tabs-height
      border-top 1px solid color-line-default
      position absolute
      bottom 0
      left 0
      button
        flat()
        block-element()
        background color-button-blue
        color color-text-white
        font-size 1.5rem
        font-weight bold

    .timePicker
      width 100%
      height 100%
      text-align center
      position absolute
      top 0
      left 0
      .wrap
        width 100%
        height 25rem
        background color-background
        border-top 2px solid color-line-default
        position absolute
        bottom 0
        h3
          margin 2.5rem 0
          font-size 1.5rem
          color color-text-dark-grey
        .string
          font-size 2.4rem
          font-weight bold
          font-family Helvetica
          color color-text-dimgrey
      input[type=range]
        flat()
        margin-top 2rem
        padding 0 2rem
        width 100%
        height 2.4rem
        border-box border-box
        cursor pointer
        &::-webkit-slider-runnable-track
          track()
        &::-moz-range-track
          track()
        &::-ms-track
          track()
        &::-webkit-slider-thumb
          thumb()
        &::-moz-range-thumb
          thumb()
        &::-ms-thumb
          thumb()
      .labels
        margin 0 1rem
        display flex
        justify-content space-between
        span
          width 2.5rem
          font-size 1.2rem
          text-align center
          color color-text-light-grey
          display inline-block
          cursor pointer
      .submit
        flat()
        width 56%
        height 4.4rem
        border-radius half()
        background color-button-green
        color color-text-white
        font-size 1.6rem
        position-align-center()
        bottom 2.6rem

  .detail
    block-element()
    background rgba(black, .05)
    font-size 1.5rem
    position fixed
    top 0
    left 0
    z-index z-index-popup
    .wrapper
      padding 3rem
      width 50rem
      height 28.5rem
      border-radius()
      border 1px solid color-line-default
      background color-background
      box-shadow 0 0 3em 1em rgba(black, .1)
      box-sizing border-box
      position-align-both()
      position fixed

      input[type=text], button
        flat()

      label.title
        margin-bottom 1rem
        color color-text-dark-grey
        font-size 1.3rem
        font-weight bold
        user-select none
        display block

      .info
        margin-bottom 2.4rem
        white-space nowrap
        overflow hidden
        display flex
        flex-basis 0
        justify-content space-between
        label
          height 4rem
          line-height @height
          border-bottom 1px dashed color-line-darken
          display inline-block
          font-size 0
          &:not(:last-child)
            margin-right 1.6rem
          &.name
            flex-grow 1
        input, select
          height 4rem
          font-size @font-size
          color color-text-dimgrey
        select
          padding-right 2.4rem
          padding-left 1rem
          background-position 92% 50%
        .name input
          width 100%
          font-size 2.1rem
          font-weight bold
        .role select
          width 8rem
        .status select
          width 7rem

      .phoneNum
        margin-bottom 3.5rem
        span
          margin-bottom 1rem
          color color-text-dark-grey
          font-size 1.3rem
          font-weight bold
          display block
        input
          flat()
          padding 1.4rem
          width 100%
          border-radius()
          border 1px solid color-line-default
          box-sizing border-box
          &[disabled]
            background color-background-snow
            color color-text-dark-grey

      .config
        input[type=checkbox]
          display none
        span
          margin-right 2rem
          cursor pointer
          &::before
            icon checkbox
            margin-right .5em
            color color-text-light-grey
            font-size 1.8rem
        input:checked + span::before
          color color-button-green

      .buttons
        padding 0 @padding (@padding/2)
        padding-right 1.5rem
        width 100%
        box-sizing border-box
        user-select none
        position absolute
        bottom 0
        left 0
        button
          width 8rem
          height 4rem
        .close
          color color-text-dimgrey
        .save
          color color-button-blue
        .close, .save
          float right