@require 'requires'

#error
  width 100%
  height 100%
  background-color color-background-aqua
  background-image url('/img/lighthouse.png')
  background-repeat no-repeat
  background-size 365px 280px
  background-position center 40%
  box-sizing border-box

  h1, h2
    text-align center
    line-height 1.3
    color color-text-white
    position-align-center()
    top 50%

  h1
    margin-top 10rem
    font-size 5rem

  h2
    margin-top 16.3rem
    font-size 2.3rem

  button
    margin 24rem auto 0
    width 18rem
    height 5.8rem
    border-radius .5rem
    background rgba(color-background-black, .85)
    color color-text-white
    font-size 2.5rem
    font-weight bold
    display block
    position-align-center()
    top 50%
