@require 'requires'

html
  width 100%
  height 100%
  overflow-x hidden

body
  height 100%
  background color-background
  color color-text-black
  font-size default
  overflow hidden
  position relative
  &.hidemenu
    #header, #menu
      display none
    #container
      margin-left 0
      padding-top 0

#header
  width 100%
  height header-height
  position absolute
  z-index z-index-header
  user-select none
  h2
    padding-left aside-width
    height @height
    line-height @height
    background color-background-header
    color color-text-white
    font-size 1.8rem
    text-indent 2rem
    box-sizing border-box

#menu
  width aside-width
  box-sizing border-box
  user-select none
  z-index z-index-aside
  overflow hidden
  transition background .4s ease
  position absolute
  top 0
  bottom 0
  left 0
  &.open
    width 100%
    background rgba(black, .35)
    z-index z-index-aside-active

  .aside
    width aside-width
    height 100%
    background color-background-aside
    box-shadow inset -1px 0 0 color-aside-border
    transition width .15s ease-in
    box-sizing border-box
    overflow hidden
    position relative
    &.open
      width aside-width-expanded
      box-shadow .3rem 0 .6rem rgba(black, .2)
      transition-timing-function ease-out

  nav#shop
    width 100%
    height auto
    min-height header-height
    max-height header-height
    background color-common-aqua-marine
    color color-text-white
    overflow hidden
    cursor pointer
    display none
    transition max-height .3s ease-in
    &.expanded
      max-height none
      transition-timing-function ease-out
    h2
      padding-right 5rem
      height header-height
      line-height @height
      font-weight bold
      font-size 1.7rem
      text-indent 1.2em
      position relative
      ellipsis()
      &.admin::before
        content attr(data-id) "."
        margin-right .5rem
      &::after
        icon angle-down
        font-size 1.7rem
        position absolute
        right @text-indent
        text-indent 0
        transition transform .2s
    &.expanded h2::after
      transform rotate(180deg)
    div
      padding 0 1em .8em
      width aside-width-expanded
      box-sizing border-box
      input
        flat()
        width 100%
        height 4rem
        line-height @height
        text-indent .6em
        border-bottom 1px solid white
        font-size 1.6rem
        color color-text-white
        placeholder color-text-smoke-white
        display block
    ul
      max-height 27.5rem
      overflow scroll
      overflow-x hidden
      scrollbar none
      li
        padding-right 3rem
        height 5rem
        line-height @height
        box-sizing border-box
        font-weight bold
        font-size 1.5rem
        text-indent 2.2rem
        ellipsis()
        position relative
        cursor pointer
        &:hover
          background color-common-turquoise
        .shopId::after
          margin-right .5rem
          content '.'

    &.single
      cursor initial
      h2::after, & > ul
        display none

  &.open nav#shop
    display block

  button.toggle
    flat()
    block-element()
    width aside-width
    height header-height
    line-height @height
    background color-background-header
    font-size 0
    text-align center
    cursor pointer
    &::before
      icon menu
      font-size 2.8rem
      color color-text-white
  &.open button.toggle
    display none

  nav#gnb
    ul li
      width 100%
      height 6rem
      line-height @height
      font-size 1.5rem
      color color-aside-text
      box-sizing border-box
      position relative
      overflow hidden
      cursor pointer
      &:hover
        background color-aside-hover

      &::before
        width aside-width
        font-size 2.8rem
        text-align center
      &.dashboard::before
        icon dashboard
      &.reservation::before
        icon reservation
      &.employee::before
        icon employee
      &.customer::before
        icon customer
      &.service::before
        icon service
      &.package::before
        icon package
      &.employment::before
        icon employment
      &.setting::before
        icon setting
      &.shops::before
        icon shops

      a
        block-element()
        text-indent aside-width
        position absolute
        top 0

      &.active
        a, &::before
          color color-aside-active
          text-shadow 0 0 1px rgba(black, .1)
        &::after
          icon active
          font-size 2.8rem
          color color-aside-active
          position-align-center()
          left (aside-width / 2)
          bottom -.3rem

      &.dashboard .new::before
        content ''
        width .5rem
        height @width
        border-radius 50%
        background color-reservation-pending
        position absolute
        left 3.8rem
        top 1.8rem

      &.signout
        width 100%
        height 5rem
        line-height @height
        position absolute
        left 0
        bottom 0
        &::before
          icon signout
        &:hover
          background color-common-magenta
          &::before
            color color-text-white
        button
          flat()
          block-element()
          width aside-width-expanded
          color color-aside-text
          text-indent aside-width
          text-align left
          position absolute
          top 0
          left 0
          cursor pointer
          &:hover
            color color-text-white

@media (max-height: 600px)
  #menu nav#gnb ul li
    height 5.2rem
    line-height @height
    &.signout
      height 4.6rem
      line-height @height

@media (max-height: 520px)
  #menu nav#gnb ul li
    height 4.8rem
    line-height @height
    &::before
      font-size 2.6rem
    &.signout
      height 4.2rem
      line-height @height

@media (max-height: 480px)
  #menu nav#gnb ul li
    height 4.2rem
    line-height @height
    &::before
      font-size 2.5rem
    &.signout
      height 3.8rem
      line-height @height


#container
  margin-left aside-width
  padding-top header-height
  height 100%
  box-sizing border-box
  overflow scroll
  scrollbar none
  position relative
  .action
    padding-right 2rem
    width 100%
    height header-height
    line-height @height
    text-align right
    box-sizing border-box
    user-select none
    position fixed
    top 0
    right 0
    z-index z-index-header
    button, a
      flat()
      margin-left 3rem
      border-radius()
      color color-text-white
      font-size 1.5rem
      &:hover
        text-shadow 0 0 2em rgba(color-glow-blue, .8)
        
  #tabs
    padding 0 1rem
    width 100%
    height tabs-height
    line-height @height
    background color-background-snow
    border-bottom 1px solid color-line-default
    box-sizing border-box
    font-size 1.5rem
    white-space nowrap
    user-select none
    position fixed
    top header-height
    left aside-width
    z-index z-index-header
    li
      margin 0 1.6rem
      padding 0 .5rem
      line-height (@height - .2rem)
      box-sizing border-box
      display inline-block
      vertical-align top
      cursor pointer
      a
        block-element()
        color color-text-dark-grey
        &:hover
          color color-text-dimgrey
      &.active
        border-bottom 2px solid @color
        font-weight bold
        a
          color color-text-dimgrey

#indevlop
  text-align center
  color color-text-dimgrey
  h1
    margin-top 20rem
    margin-top 35vh
    font-size 2.3rem
  h2
    margin-top 4rem
    margin-bottom 12rem
    font-size 1.8rem
  a
    padding .6em 1em
    font-size 1.5rem
    box-shadow 0 1px 3px rgba(black, .2)
    background color-background-snow
    color color-text-dimgrey
    &:hover
      color color-text-black

footer
  .copyright
    visibility hidden
    position absolute
    top 100%
    left 100%
  .server
    padding 0 3rem
    height header-height
    line-height @height
    background color-common-magenta
    color color-text-white
    font-size 1.4rem
    font-weight bold
    text-align center
    user-select none
    position-align-center()
    position fixed
    top 0
    z-index z-index-notify
    \.hidemenu &
      width 100%
      height 4rem
      line-height @height

#screen
  width 100%
  height 100%
  background white
  z-index z-index-indicator
  position fixed
  top 0
  left 0

#indicator
  font-size .5vw
  width 8rem
  padding-bottom @width
  margin-top (- @width / 2)
  margin-left (- @width / 2)
  height 0
  overflow hidden
  z-index z-index-indicator
  position fixed
  top 50%
  left 50%
  &::after
    content ''
    width .6rem
    height @width
    border-radius 50%
    position-align-both margin
    animation spin 1.2s infinite linear
    box-shadow 1.8rem -1.8rem rgba(color-common-cyan, .2),
                2.5rem 0 rgba(color-common-cyan, .2),
                1.75rem 1.75rem rgba(color-common-cyan, .2),
                0 2.5rem rgba(color-common-cyan, .2),
                -1.8rem 1.8rem rgba(color-common-cyan, .4),
                -2.6rem 0 rgba(color-common-cyan, .65),
                -1.8rem -1.8rem rgba(color-common-cyan, .85),
                0 -2.6rem rgba(color-common-cyan, 1)
