@require 'requires'

status-height = 3.6em

#modal
  block-element()
  background rgba(black, .05)
  position fixed
  top 0
  left 0
  z-index z-index-modal

  .box, .editBox
    padding-top status-height
    width 25em
    height 37em
    border-radius()
    background color-background
    box-shadow 0 0 3em 1em rgba(black, .1)
    box-sizing border-box
    position-align-both()

  .status
    width 100%
    height status-height
    line-height @height * 1.05
    position absolute
    top 0
    &::after
      block-element()
      border-top-radius()
      color color-text-white
      font-size 1.6rem
      font-weight bold
      text-indent 1.35em
      text-shadow 0 1px .2em rgba(black, .25)
    &.pending::after
      content '승인요청'
      background color-reservation-pending
    &.confirmed::after
      content '예약현황'
      background color-reservation-confirmed
    &.canceled::after
      content '취소'
      background color-reservation-canceled
    &.completed::after
      content '서비스완료'
      background color-reservation-completed
    &.noshow::after
      content '노쇼'
      background color-reservation-noshow
    &.isEdit::after
      content '예약정보 수정'
    &.new::after
      content '예약 생성'
      background color-reservation-new

  .buttons
    position absolute
    right .6em
    top 0
    button
      flat()
      width 3em
      height status-height
      color color-text-white
      font-weight bold
      text-shadow 0 1px .2em rgba(black, .2)
      text-align center
      user-select none

  .functions
    width 100%
    height 4.8rem
    font-size 0
    user-select none
    position absolute
    bottom 0

    button
      flat()
      width 100%
      height 100%
      border-top 1px solid color-line-default
      color color-text-dimgrey
      font-size default
      ellipsis()
      display none
      &:not(:first-child)
        border-left @border-top
      &:hover
        background rgba(color-background-snow, .5)
      &.cancel:hover
        color color-common-magenta
      &.confirm:hover
        color color-common-cyan
      &.complete:hover
        color color-common-cyan
      &.noshow:hover
        color color-common-magenta

    &.pending
      .cancel, .confirm
        width 50%
        display inline-block
    &.confirmed.isPast
      .complete, .noshow
        width 50%
        display inline-block
    &.confirmed:not(.isPast)
      .cancel
        display inline-block

  .box .customer
    margin-bottom .5em
    padding-top 1.3em
    padding-left 5.5em
    width 100%
    height 5.5em
    border-bottom 1px solid color-line-default
    line-height 1.45em
    box-sizing border-box
    position relative

    .profile
      width 3.2em
      height @width
      border-radius 50%
      background white
      background-size @width
      background-position center
      box-shadow 0 0 0 1px color-line-default
      position-align-middle()
      left 1.5em
      img
        display none
    .name
      font-size 1.6rem
      color color-text-black
      display block
      &.single
        line-height (@height - @padding-top * 2)
    .memo
      font-size 1.3rem
      color color-text-dark-grey
      display block

  dl
    padding 0 .8em
    line-height 1.7em
    dt
      padding .8em .75em 0
      font-size 1.3rem
      font-weight bold
      color color-text-dimgrey
      user-select none
    dd
      padding 0 .75em 1em
      min-height @line-height
      font-size 1.5rem
      color color-text-slate-grey
      .package + .service
        margin-left .4em
        color color-common-cyan

  .editBox
    .editCustomer
      margin-bottom .8em
      width 100%
      height 4em
      border-bottom 1px solid color-line-default
      position absolute
      top status-height
      & > div
        padding 1.25em 0
        font-size 1.07em
        line-height 1.5em
        display inline-block
        &.customerName
          margin-left 1.5em
          width 50%
        &.phoneNum
          margin-right 1.5em
          width 35%
          float right
        input
          flat()
          width 100%
          color color-text-dimgrey
          display block
          &[disabled]
            color color-text-dark-grey
            cursor not-allowed
        .dropdown
          margin-top 1em
          margin-left -.5em
          width 120%
          max-height 20.3em
          border-radius()
          background color-background
          box-shadow 0 0 .8em .2em rgba(black, .15)
          cursor pointer
          overflow scroll
          scrollbar none
          li
            line-height 1.8em
            color color-text-dimgrey
            text-indent .6em
            &:first-child
              padding-top .2em
              border-top-radius()
            &:last-child
              padding-bottom .2em
              border-bottom-radius()
            &.active
              background color-common-skyblue
              color color-text-white
      & + dl
        padding-top @height + @margin-bottom

    .customer
      margin-bottom 1em
      padding 0 .8em
      height 3.6em
      border-bottom 1px solid color-line-default
      font-size 1.07em
      position relative
      span
        position-align-middle()
      .customerName
        left 1.5em
      .phoneNum
        right 1.5em
        color color-text-dark-grey

    .roundBox
      flat()
      margin .3em 0
      padding 0 1.2em
      width 100%
      height 2.2em
      border-radius (@height / 2)
      border 1px solid color-line-default
      box-sizing border-box
      display block
      color color-text-dimgrey
      ellipsis()

    select.roundBox
      background-position 96% 50%

    select.roundBox, span.roundBox
      cursor pointer

    select[disabled]
      color color-text-light-grey
      cursor not-allowed

    span.roundBox
      padding-top 0
      padding-bottom 0
      line-height 2.2em

    .placeholder
      color color-text-light-grey

    dt
      padding-top .5em
    dd
      padding-bottom .5em
