#alerts
  width 45%
  max-width 45rem
  height 11.2rem
  font-size 1.4rem
  overflow hidden
  z-index z-index-notify
  position-align-center()
  top 12%

  li
    width 100%
    height 5rem
    line-height @height
    border-radius .7rem
    background color-background
    color color-text-white
    font-weight bold
    box-shadow 0 .2rem .6rem rgba(black, .3)
    text-indent 2rem
    box-sizing border-box
    transform translate(0, 12.4rem)
    position absolute

    &:last-child
      transform translate(0, 0)
      opacity 1
    &:nth-last-child(2)
      transform translate(0, 6.2rem)
      opacity .6

    &.success
      background color-notify-success
    &.info
      background color-notify-info
    &.warn
      background color-notify-warn
    &.error
      background color-notify-error
