@require 'requires'

#reservation
  width 100%
  height 100%
  user-select none

  .datePicker, .setDate
    button
      flat()
      width 7.2rem
      height (header-height - 2.6rem)
      vertical-align middle
      background setDate-button-background
      color setDate-button-color
      text-align center
      font-size 1.4rem
      cursor pointer
      &:hover
        color color-text-white
        text-shadow 0 0 .1rem rgba(white, .2)
        box-shadow inset 0 0 2rem 1rem rgba(white, .05)
      &:not(:last-child)
        margin-right .1rem
      &.small
        width 6rem
      &.prev
        border-top-left-radius border-radius-default
        border-bottom-left-radius border-radius-default
      &.next
        border-top-right-radius border-radius-default
        border-bottom-right-radius border-radius-default
      &.today
        width @width * .9

  .datePicker
    padding-right 2rem
    height header-height
    line-height @height
    font-size 0
    position absolute
    right 0
    top 0
    z-index z-index-header

    [hb-date-picker]
      block-element()
      width 28rem
      position absolute
      right 0
      top 0
      .calendar
        margin-top -.4rem
        margin-left -3.5rem
        padding .7rem
        box-shadow 0 .1rem .3rem .1rem rgba(black, .15)
        .controls
          margin .5rem 0 1.5rem
          height 2.8rem
          line-height @height
          border-radius .4rem
          background rgba(color-background-grey, .5)
        .dates
          border-bottom 0
        .days span
          height 3.8rem
          line-height @height
          &:hover
            background transparent
          &.today
            color color-text-white
            font-weight bold
            &::before
              width @height * .95
              height @width
              border-radius 50%
              background color-background-black
              position-align-both()
              z-index -1
      .prevYear, .nextYear
        display none
      .prevMonth, .nextMonth
        &::before
          color color-text-dimgrey
          font-size 1.3rem
      .prevMonth::before
        icon angle-left
      .nextMonth::before
        icon angle-right

    .button
      margin-right 1rem
      padding 0 2rem 0 1.3rem
      height (header-height - 2.2rem)
      line-height @height
      border-radius .8rem
      background rgba(black, .3)
      color color-text-white
      font-size 1.5rem
      text-align right
      vertical-align middle
      display inline-block
      position relative
      cursor pointer
      &::before
        icon date-picker
        margin-right .8rem
        font-size 2.2rem
        vertical-align middle

    button
      position relative

  .setDate
    padding-right 2rem
    width 100%
    height header-height
    line-height @height
    text-align right
    font-size 0
    box-sizing border-box
    position absolute
    right 0
    top 0
    z-index z-index-header

    .employee
      width 100%
      height @height
      line-height @height
      background color-background-header
      color color-text-white
      font-size 1.8rem
      text-indent 2rem
      text-align left
      box-sizing border-box
      display inline-block
      position absolute
      top 0
      left 0
      z-index -1

    .month
      margin-right 2rem
      font-size 1.4rem
      color color-text-white
      vertical-align middle

  .functions
    width 22rem
    background color-background
    border-radius()
    box-shadow 0 .2rem .6rem rgba(black, .3)
    color color-text-slate-grey
    position absolute
    transition opacity 0s ease-out
    opacity 0
    &.show
      transition-duration 150ms
      opacity 1
      z-index 1
    .datetime
      height 5.4rem
      line-height @height
      border-top-radius()
      background functions-header-background
      color color-text-white
      font-size 1.5rem
      text-indent 1.8rem
      position relative
      .date
        font-weight bold
      .time
        position-align-middle()
        right @text-indent
        text-indent 0
        &::before
          icon reservation-time
          margin-right .4em
          font-size 1.3rem
          text-indent 0
    .buttons
      height 5rem
      line-height @height
      font-size 0
      button
        flat()
        width 50%
        height 100%
        color color-text-slate-grey
        display inline-block
        &::before
          font-size 2.2rem
        &:hover
          background color-background-snow
        &:not(:first-child)
          border-left 1px solid color-line-default
      .new::before
        icon new
      .block::before
        icon block
      .unlock
        display none
    &.unlock
      width 13rem
      .datetime, .new, .block
        display none
      .unlock
        width 100%
        display block
      .unlock::before
        icon unlock

  section
    width 100%
    overflow hidden
    position absolute
    top header-height
    bottom 0

  svg
    width 100%
    height 100%

    line
      stroke color-line-default
      stroke-width 1
      &.bold
        stroke-width 2
      &.half
        stroke-dasharray 4, 3
    text
      fill color-text-dark-grey

    .background
      fill color-background

    .box
      ry 5
      rx 5
    .pointer
      fill transparent
      &, & + use
        cursor row-resize

    .highlight
      fill rgba(color-background-grey, .3)
    .reservation .highlight
      fill rgba(color-common-aqua-marine, .15)
      cursor pointer

    .reservation
      .closed
        rect
          fill color-background-snow
      .blocks
        rect.box
          fill rgba(color-background-grey, .35)
          stroke color-line-default
          stroke-width 3
          stroke-dasharray 5, 3
          cursor default
        use.block
          fill color-text-dimgrey
          cursor pointer
          opacity .85
        rect.pointer + use
          fill rgba(black, .1)
      .items
        rect.box
          cursor pointer
          &.pending
            fill color-reservation-pending
          &.confirmed
            fill color-reservation-confirmed
          &.completed
            fill color-reservation-completed
          &.noshow
            fill color-reservation-noshow
        text
          fill color-text-white
          font-size 1.3rem
          text-anchor start
          alignment-baseline before-edge
          cursor pointer
          &:last-of-type
            font-size 1.4rem
            font-weight bold
          tspan
            text-anchor start
            alignment-baseline before-edge
        rect.pointer + use
          fill rgba(white, .5)

    .times
      .text .hour
        font-size .928em
        fill color-text-dark-grey
      .now .marker
        fill color-background
        stroke color-common-cyan
        stroke-width 1.5
      .now .line
        stroke color-common-cyan

    .columns
      .employee_name
        font-size 1.05em
        fill color-text-dimgrey
      .button
        fill transparent
        cursor pointer
      .today
        fill color-background-black
      .name
        font-size .785em
        fill color-text-slate-grey
        text-transform uppercase
        &.sun, &.sat
          fill color-text-light-grey
      .date
        font-size 1.1em
        fill color-text-dimgrey
        &.sun, &.sat
          fill color-text-dark-grey
        &.today
          fill color-text-white

    .cover .back
      fill color-background

  button.back
    flat()
    position absolute
    left 0
    top 0
    &.disabled
      cursor default
    span
      padding 0 .5rem 0 2.1rem
      height 2.1rem
      line-height @height
      border-radius half()
      background color-background-grey
      color color-text-dimgrey
      font-size 1.3rem
      display inline-block
      position relative
      left .3rem
      &::before
        icon person
        font-size 1.1rem
        line-height 1
        position-align-middle()
        left .6rem