@require 'requires'

category-height = 3.2rem
service-height = 4.8rem

#service
  padding-bottom 10rem

  h2
    width 100%
    height category-height
    line-height @height
    border-bottom 1px solid color-line-default
    background color-background-snow
    color color-text-black
    font-weight bold
    font-size 1.4rem
    text-indent 2.2rem
    user-select none

  table
    margin 0 2rem 2.5rem
    max-width 120rem
    min-width 80rem
    display block
    position relative
    user-select none

    thead, tbody
      width 100%
      display block
    tbody
      display flex
      flex-direction column
    tr
      width 100%
      height service-height
      line-height @height
      border-bottom 1px solid color-line-default
      font-size 0
      display flex
      flex-wrap nowrap
      justify-content space-between
      &:last-child
        border-bottom none
      &.selected
        background color-background-snow
        th, td
          display none
      &.notSale
        color color-text-dark-grey
        a::after
          content ' (판매중단)'
      th, td
        height @height
        font-size default
        text-align center
        flex-basis 0
        display inline-block
        box-sizing border-box
        position relative
        ellipsis()
        &:not(:first-child):not(:last-child)::before
          content ''
          width 1px
          height 1.6rem
          background color-line-lighten
          position-align-middle()
          right 0
        &:nth-child(1)
          flex-grow 1
        &:nth-child(2)
          flex-grow 8
        &:nth-child(3)
          flex-grow 2
        &:nth-child(4)
          flex-grow 2
        &:nth-child(5)
          flex-grow 2
        &:nth-child(6)
          flex-grow 6
      a
        block-element()
        cursor pointer
        &:hover
          text-decoration underline

    tr.placeholder
      td
        color color-text-dark-grey
      td:nth-child(1)
        flex-grow 13
      td:nth-child(2)
        flex-grow 8

    thead
      position absolute
      top (- category-height)
      transition opacity .3s
      opacity 0
      tr
        height category-height
      th
        height category-height
        line-height @height
        color color-text-dark-grey
        font-size 1.2rem
        &:nth-child(2)
          visibility hidden
        &:nth-child(4)
          text-align right
          &::after
            content ''
            width 1.5rem
            display inline-block
        &::before
          content none
    &:hover thead
      opacity 1

    tbody tr
      th, td
        &:nth-child(1)
          font-weight normal
        &:nth-child(2)
          text-align left
          text-indent 2rem
          position relative
          &.event a::after
            content 'event'
            margin-left 1rem
            width 3.8rem
            height 1.5rem
            line-height @height
            border-radius .3rem
            background color-background
            color color-common-magenta
            box-shadow 0 0 0 2px @color
            font-family Helvetica
            font-size 1rem
            font-weight bold
            text-indent 0
            text-align center
            text-transform uppercase
            vertical-align middle
            display inline-block
        &:nth-child(3)
          &::after
            content '분'
        &:nth-child(4)
          text-align right
          span
            margin-right 1.5rem
            &::after
              content '원'
          &:not(.discount)
            :last-child
              display none
          &.discount
            padding-top (service-height / 6)
            padding-bottom @padding-top
            span
              line-height (service-height / 3)
              display block
              &:first-child
                font-size 1.3rem
                color color-text-dark-grey
                text-decoration line-through
        &:nth-child(5)
          &:not(.discount)
            font-size 0
          &.rate::after
            content '%'
          &.amount::after
            content '원'

      th:hover
        font-size 0
        &::before
          icon sort-pointer
          font-size 2.4rem
          color color-button-green

      &.clone
        background rgba(color-background, .5)
        box-shadow 0 0 .5rem rgba(black, .2)
        position absolute

  .detail
    block-element()
    background rgba(black, .05)
    font-size 1.5rem
    position fixed
    top 0
    left 0
    z-index z-index-popup
    .wrapper
      padding 3rem
      width 64rem
      height 46.5rem
      border-radius()
      border 1px solid color-line-default
      background color-background
      box-shadow 0 0 3em 1em rgba(black, .1)
      box-sizing border-box
      position-align-both()
      position fixed

      input[type=text], textarea, button
        flat()

      label.title
        margin-bottom 1rem
        color color-text-dark-grey
        font-size 1.3rem
        font-weight bold
        user-select none
        display block

      .category
        label
          padding-right 1.8rem
          color color-text-slate-grey
          position relative
        select
          block-element()
          opacity 0
          position-align-middle()
          left 0

      .info
        margin-bottom 2.4rem
        white-space nowrap
        overflow visible
        label
          height 4rem
          line-height @height
          border-bottom 1px dashed color-line-darken
          display inline-block
          font-size 0
          &:not(:last-child)
            margin-right 2rem
        input
          height 4rem
          font-size @font-size
          color color-text-dimgrey
        .name input
          width 32rem
          font-size 2.1rem
          font-weight bold
        .duration, .price
          input
            text-align center
          &::before
            font-size 1.6rem
            color color-text-light-grey
          &::after
            font-size 1.5rem
            color color-text-dark-grey
        .duration
          input
            width 6rem
          &::before
            icon service-time
            vertical-align top
          &::after
            content '분'
        .price
          input
            width 9rem
          &::before
            icon price
            vertical-align top
          &::after
            content '원'

      .description
        margin-bottom 3.5rem
        textarea
          padding 1.4rem
          width 100%
          height 6em
          border-radius()
          border 1px solid color-line-default
          box-sizing border-box

      .header
        margin-bottom 2.5rem
        user-select none
        h3
          margin-right 1rem
          color color-text-dimgrey
          vertical-align middle
          display inline-block
        p
          font-size 1.3rem
          color color-text-slate-grey
          vertical-align middle
          display inline-block

      .box
        margin-bottom 2.5rem
        font-size 0
        & > div
        & > div > input
          width 50%
          font-size 1.5rem
          vertical-align top
          display inline-block

      .discount
        display flex
        input[type=text]
          height 4.6rem
          line-height @height
          border-radius()
          border 1px solid color-line-default
          vertical-align middle
          text-align center
        .price
          flex-grow 2
          input[type=text]
            margin-right .5em
            width 10rem
          input[type=radio]
            display none
          input[type=radio] + label
            width 5rem
            text-align center
            display inline-block
            user-select none
            cursor pointer
            &::before
              icon radio
              margin-right .5em
              color color-text-light-grey
          input[type=radio]:checked + label::before
            icon radio-selected
            color color-button-green
        .period
          flex-grow 3
          font-size 0
          input
            width 45%
            &[disabled]
              background color-background-snow
          .dash
            width 10%
            color color-text-dark-grey
            font-size 1.3rem
            text-align center
            display inline-block
            user-select none

      .buttons
        padding 0 @padding (@padding/2)
        padding-right 1.5rem
        width 100%
        box-sizing border-box
        user-select none
        position absolute
        bottom 0
        left 0
        input[type=checkbox]
          display none
        label
          margin-right 1rem
          cursor pointer
          &::before
            icon checkbox
            margin-right .5em
            color color-text-light-grey
            font-size 1.8rem
        input:checked + label::before
          color color-button-green

        button
          width 8rem
          height 4rem
        .delete
          color color-text-light-grey
        .close
          color color-text-dimgrey
        .save
          color color-button-blue
        .close, .save
          float right