@require 'requires'

#portfolio
  padding-top tabs-height
  height 100%
  box-sizing border-box
  
  .wrapper
    padding-top 1rem
    min-width 100rem
    max-width 160rem
    height 100%
    box-sizing border-box
    display flex
    & > section
      height 100%
      overflow hidden
      display inline-block
      flex-basis 0
    .primary
      padding 0 2rem
      flex-grow 2
      overflow scroll
      overflow-x hidden
      position relative
    .secondary
      background color-background-snow
      flex-grow 1

  .title
    position relative
    user-select none
    h3
      padding-top .6rem
      height 4.4rem
      line-height @height
      border-bottom 1px solid color-line-default
      color color-text-dimgrey
      font-size 1.5rem

    form.upload
      position-align-middle()
      right 0
      cursor pointer
      &::before
        icon add
        font-size 1.8rem
        color color-text-light-grey
      &:hover::before
        color color-text-dark-grey
      input
        display none

    .buttons
      position-align-middle()
      right 0
      button
        flat()
        margin-left 1rem
        color color-text-dark-grey
        &:hover
          color color-text-slate-grey
        &.active
          color color-text-dimgrey
          cursor default

#portfolio.sns
  .primary .images
    margin-right -1.47%
    margin-bottom 2rem
    padding-top 1rem
    display flex
    flex-basis 0
    flex-wrap wrap
    li
      margin-right 1.45%
      margin-bottom @margin-right
      padding-bottom 15.2%
      width @padding-bottom
      height 0
      display inline-block
      background-size cover
      background-position center
      cursor pointer
      &.selected
        border-radius()
        background color-background-snow !important
        box-shadow inset 0 0 .5rem color-line-default
  .empty
    padding 3rem 0
    text-align center
    font-size 1.4rem
    line-height 2
    color color-text-slate-grey
    white-space pre-line

#portfolio.post
  .posts
    padding 1.6rem 0
    margin-bottom 8rem
    li
      padding @padding
      line-height 1.2
      overflow hidden
      position relative
      .thumbnail
        width 8rem
        height @width
        box-shadow 0 0 0 1px color-line-default
        position absolute
        left @padding[1]
        top @padding[0]
        cursor pointer
      .title, .summary, .info
        margin-left 9.5rem !important
      .title a
        color color-text-dimgrey
        font-size 1.4rem
        display block
        ellipsis()
      .summary
        margin .8rem 0 .7rem
        color color-text-dark-grey
      .info .published
        margin-right 1rem
        color color-text-dimgrey
      .info .author a
        color color-text-dark-grey
        white-space nowrap
      .info .delete
        flat()
        font-size 1.2rem
        color color-text-slate-grey
        float right
      .images
        margin-top 1.2rem
        padding .8rem
        border-radius()
        border 1px solid color-line-default
        clear right
        .image
          margin-right 1%
          margin-bottom .5%
          padding-bottom 9.1%
          width @padding-bottom
          height 0
          display inline-block
          cursor pointer
          &:nth-child(10n)
            margin-right 0

  .search
    padding .8rem
    padding-top 1.2rem
    padding-bottom .6rem
    height 3.2rem
    border-bottom 1px solid color-line-default
    display flex
    input[type=text]
      flat()
      padding .6rem
      height @height
      border-radius()
      border 1px solid color-line-default
      background color-background
      color color-text-dimgrey
      box-sizing border-box
      flex-grow 1
    button
      flat()
      margin-left .6rem
      width 4.6rem
      border-radius()
      background color-button-blue
      color color-text-white

#portfolio
  .secondary
    position relative
    .title h3
      text-indent 2rem
    .title .buttons
      right 2rem
  .secondary .list
    margin .8rem 0
    padding 0 @margin[0]
    width 100%
    overflow scroll
    overflow-x hidden
    box-sizing border-box
    position absolute
    top 5rem
    bottom 0
    li
      margin-bottom 1rem
      padding 1.5rem
      border-radius()
      border 1px solid color-line-default
      background color-background
      line-height 1.2
      overflow hidden
      position relative
      &.hide
        opacity .7
      .title
        margin-bottom .7rem
        ellipsis()
        a
          color color-text-dimgrey
          text-decoration underline
      .summary
        margin-bottom .8rem
        color color-text-dark-grey
        line-height 1.4
        font-size 1.2rem
      .images
        margin-bottom .8rem
        .image
          margin-right .8%
          padding-bottom 24.4%
          width @padding-bottom
          height 0
          display inline-block
          cursor pointer
          &:nth-child(4n)
            margin-right 0
      .source
      .author a
        max-width 25rem
        color color-text-dark-grey
        font-size 1.2rem
        display inline-block
        vertical-align middle
        ellipsis()
      .source
        margin-right 1rem
        text-transform uppercase
      .published
        color color-text-dark-grey
        font-size 1.2rem
        vertical-align middle
      .buttons
        position absolute
        right 1.2rem
        bottom 1rem
        button
          flat()
          margin-left .5em
          font-size 1.1rem
          color color-text-slate-grey
    .more
      flat()
      margin-bottom 2rem
      width 100%
      height 4.2rem
      border-radius()
      border 1px solid color-line-lighten
      background color-button-blue
      color color-text-white
      font-size 1.4rem
      box-sizing border-box
      &.disabled
        background color-button-disabled
        cursor default

  .edit
    block-element()
    background rgba(black, .2)
    font-size 1.5rem
    position fixed
    top 0
    left 0
    z-index z-index-popup
    section
      width 96rem
      height 58rem
      border-radius()
      background color-background
      box-shadow 0 0 3em 1em rgba(black, .1)
      box-sizing border-box
      position-align-both()
      position fixed
      display flex
      .area
        width @height
        height @height
        vertical-align top
        position relative
        display inline-block
        .image
          block-element()
          background-color black
          background-repeat no-repeat
          background-position center
          background-size contain
        .buttons
          block-element()
          display flex
          position absolute
          top 0
          left 0
          button
            flat()
            height 100%
            font-size 0
            display inline-block
            position relative
            &::before
              font-size 3rem
              color color-text-white
              text-shadow 0 0 .3rem rgba(black, .5)
              position-align-middle()
            &.left
              width 30%
              &::before
                icon angle-left
                left 1rem
            &.right
              width 70%
              &::before
                icon angle-right
                right 1rem
      .info
        padding 2rem
        width (@width - @height)
        height @height
        box-sizing border-box
        display inline-block
        position relative

        label.block
          line-height 2em
          color color-text-dimgrey
          display block
          input, textarea
            flat()
            padding .6rem
            width 100%
            border 1px solid color-line-default
            border-radius()
            color color-text-black
            line-height 1em
            box-sizing border-box
            display block
          textarea
            height 12rem

        .service
          margin 1rem 0
          line-height 2em
          color color-text-dimgrey
          select
            padding .6rem
            padding-right 1rem
            width 100%
            border 1px solid color-line-default
            border-radius()
            color color-text-dimgrey
            background-origin content-box

        .post
          margin 1rem 0
          padding 1.6rem
          border-radius()
          border 1px solid color-line-lighten
          background color-background-snow
          display block
          .title
            margin-bottom .6rem
            color color-text-dimgrey
            line-height 1.6
            display block
          .source, .published
            margin-right 1rem
            font-size 1.2rem
            color color-text-dark-grey
            text-transform uppercase

        .checkbox
          color color-text-dimgrey
          position absolute
          bottom 2rem
          left 2rem
          input
            display none
          span::before
            icon checkbox
            margin-right .5em
            color color-text-light-grey
            font-size 1.8rem
          input:checked + span::before
            color color-button-green

        .buttons
          position absolute
          bottom 2rem
          right 2rem
          button
            flat()
            width 5rem
            &.save
              color color-button-blue
            &.delete
              color color-text-light-grey