@require 'requires'

#setting
  padding-top tabs-height
  padding-bottom 15rem
  user-select none

  form
    padding 2rem 3rem
    box-sizing border-box

  dl
    font-size 0
    dt, dd
      padding 1rem 0
      font-size default
      display inline-block
      box-sizing border-box
      vertical-align top
    dt
      padding-right 10rem
      width 30%
      max-width 35rem
      min-width 30rem
      h2
        margin-bottom .5em
        font-size 1.6rem
        color color-text-dimgrey
      p
        margin 1em 0
        color color-text-dark-grey
        font-size 1.3rem
        line-height 1.2em
        white-space pre-line
    dd
      padding-left -2.5%
      width 70%
      max-width 85rem
      min-width 60rem
      font-size 0
      & > label
        font-size default

    hr
      margin-top .5rem
      padding-top 3.5rem
      border-top 1px solid color-line-default
      display block

  .bundle
    margin-left 2.5%
    margin-bottom 2.5rem
    padding-top 2rem
    width (100% - @margin-left)
    font-size default
    position relative
    display inline-block

    span:first-child
      font-size 1.3rem
      color color-text-slate-grey
      position absolute
      top 0

    .roundBox
      flat()
      padding 0 setting-form-input-padding
      width 100%
      height 4.4rem
      line-height @height
      border 1px solid color-line-default
      border-radius()
      color color-text-dimgrey
      font-size 1.5rem
      display block

      &[disabled]
        background color-background-snow
        color color-text-light-grey

      &[not-valid]
        border-color color-common-magenta

      &:not(:first-of-type)
        margin-top .5rem

    select.roundBox
      background-position 95% 50%

    .prefix
      font-size 1.5rem
      color color-text-dark-grey
      position-align-middle()
      top @padding-top + 2.3rem
      left setting-form-input-padding
      &.postfix
        left inherit
        right setting-form-input-padding

    &.one-thirds
      width (33.3% - @margin-left)
    &.two-thirds
      width (66.7% - @margin-left)
    &.hasPadding
      padding-top @padding-top + 1rem

  .checkbox
    display none
    & + span
      margin-right 3.5rem
      margin-bottom 1rem
      padding-left 2.8rem
      font-size 1.6rem
      color color-text-dimgrey
      cursor pointer
      position relative
      &::before, &::after
        content ''
        display block
        position-align-middle()
        left 0
      &::before
        width 1.8rem
        height @width
        border-radius half()
        border 1px solid color-line-darken
        box-sizing border-box
      &::after
        width 1rem
        height @width
        border-radius half()
        background transparent
        left .4rem
    &:checked + span
      &::before
        border-color color-button-green
      &::after
        background color-button-green

  .number
    margin-right 3rem
    width 15rem
    display inline-block
    input[type=number]
      margin-right 1em
      width 6rem
      text-align right
      display inline-block
      & + span
        color color-text-dark-grey
        vertical-align middle

  // select box
  .category
    height auto
    .input
      height auto
      text-indent 0
      .item
        margin-right .6rem
        margin-bottom .4rem
        padding 0 2.8rem 0 1rem
        height 3.6rem
        line-height @height
        border-radius()
        background color-button-green
        color color-text-white
        font-size 1.5rem
        font-weight bold
        box-sizing border-box
        display inline-block
        position relative
        &::before
          font-size 1.2rem
          position-align-middle()
          right .8rem
        button, select
          flat()
          width 100%
          height 100%
          opacity 0
          cursor pointer
          position absolute
          left 0
          top 0
        &.remove
          &::before
            icon selectbox-remove
            color @color
        &.add
          border 1px solid color-line-darken
          background transparent
          font-weight normal
          color color-text-dark-grey
          position relative
          &::before
            icon selectbox-add

  .subway
    width 30rem
    position relative

    .dropdown
      width 100%
      max-height 14.5em
      border-radius()
      background color-background
      box-shadow 0 0 .8em .2em rgba(black, .15)
      cursor pointer
      overflow scroll
      scrollbar none
      position absolute
      z-index 1
      li
        line-height 2.4em
        color color-text-dimgrey
        text-indent 1em
        &:first-child
          padding-top .3em
          border-top-radius()
        &:last-child
          padding-bottom .3em
          border-bottom-radius()
        &.active
          background color-common-skyblue
          color color-text-white