#shops
  padding-top tabs-height
  & > section
    columns 18rem
    column-gap 0
    column-rule 1px solid color-line-lighten
    .box
      width 100%
      display inline-block

    h3
      padding .6rem 0
      border-bottom 1px solid color-line-default
      background color-background-snow
      color color-text-black
      font-size 1.3rem
      text-indent 1rem
      user-select none
    ul
      margin-bottom 1rem
      padding .5rem 1rem
      li
        line-height 2.4rem
        font-size 1.2rem
        a
          max-width 80%
          color color-text-dimgrey
          cursor pointer
          display inline-block
          vertical-align bottom
          ellipsis()
          &:hover
            text-decoration underline
        sub
          margin-left .4rem
          color color-text-dark-grey

        &.wait a
          color color-text-dark-grey
        &.closed a
          text-decoration line-through