section#signup: div.wrap

  h2: img(src='/img/logo.svg', alt='HeyBeauty 샵 계정 등록')

  form(ng-submit='signup()')
    label
      span 샵 이름
      input(type='text', ng-model='form.shopName')
    br

    label
      span 카테고리
      select(ng-model='form.category', ng-options='c.id as c.name for c in categories | orderBy:"priority"')
        option(value='') 대표 카테고리를 선택해주세요
    br

    label
      span 지역
      select(ng-model='form.region', ng-options='r.id as r.name for r in regions | orderBy:"priority"')
        option(value='') 지역을 선택해주세요
    br

    label
      span 대표 이름
      input(type='text', ng-model='form.ownerName')
    br

    label
      span 휴대폰번호
      input(type='text', ng-model='form.ownerPhone', hb-format='phone')
    br

    div.buttons
      button.submit(type='submit') 등록
