section#signin: div.wrap

  h2: img(src='/img/logo.svg', alt='HeyBeauty 로그인')

  form(ng-submit='requestCode()')
    input.phone(type='tel', ng-model='user.phone', placeholder='핸드폰 번호', hb-format='phone')
    button(type='submit', ng-disabled='requested || user.phone==""') 인증번호 받기

  form(ng-submit='signin()')
    input.code(type='tel', ng-model='user.code', placeholder='인증번호')
    button.active(type='submit', ng-disabled='!requested && !user.code') 완료

  a.signup(href='http://heybeauty.me/register.html', target='_blank') 헤이뷰티 가입 신청